{#
/* @var $this yii\web\View */
/* @var $model app\models\Supplier */
#}
{{ set(this, 'title', 'Создание поставщика') }}
{{ set(this, 'params', { 'breadcrumbs' : [{ 'label' : 'Партнёры', 'url': '/supplier' }, {'label' : this.title }] }) }}

<div class="supplier-create">

    <div class="bg-white">
    <h3>Страница создания поставщика</h3><hr />
    {{ this.render('_form.twig', {
        'model': model,
    }) | raw }}
    </div>
</div>