{#
/* @var $this yii\web\View */
/* @var $model app\models\Supplier */
#}
{{ set(this, 'title', 'Редактирование поставщика') }}
{{ set(this, 'params', { 'breadcrumbs' : [{ 'label' : 'Поставщики', 'url': '/supplier' }, {'label' : this.title }] }) }}

<div class="supplier-update">

    <div class="bg-white">
    <h3>Страница редактирования поставщика</h3><hr />
    {{ this.render('_form.twig', {
        'model': model,
    }) | raw }}
    </div>
</div>
