{#
/* @var $this yii\web\View */
/* @var $model app\models\PartnerSearch */
/* @var $form yii\widgets\ActiveForm */
#}

{{ use('yii/bootstrap4/ActiveForm') }}

<div class="personal-search">

    {% set form = active_form_begin({
        'action': '/partner',
        'method': 'get',
        'options': {
            'data-pjax': 1
        }
    }) %}

    <div class="row">
        <div class="col-8">
            {{ form.field(model, 'search').textInput({'placeholder': 'Поиск', 'class': 'form-control form-control-sm'}).label(false) | raw }}
        </div>
        <div class="col-4" >
              <div class="form-group">
                <input type="submit" value="Найти" class="btn btn-outline-primary btn-sm d-block w-100" />
            </div>
        </div>
    </div>

    {{ active_form_end() }}

</div>
