{#
/* @var $this yii\web\View */
/* @var $model app\models\Partner */
#}
{{ set(this, 'title', 'Редактирование партнёра') }}
{{ set(this, 'params', { 'breadcrumbs' : [{ 'label' : 'Партнёры', 'url': '/partner' }, {'label' : this.title }] }) }}

<div class="partner-update">

    <div class="bg-white">
    <h3>Страница редактирования партнёра</h3><hr />
    {{ this.render('_form.twig', {
        'model': model,
    }) | raw }}
    </div>
</div>

